@import './variables.scss';

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App {
    width: 100vw;
    position: absolute;
}



.asterix-red-left {
    position: relative;
    &::before {
        content: '*';
        position: absolute;
        display: block;
        z-index: 11;
        left: -14px;
        color:$mild-red;
        font-size: 135%;
    }
}

.automargin { margin:auto; }

.alert-text-red {
    width: max-content;
    margin-top: 0;
    margin-bottom: 0;
    color:$mild-red;
    font-size: 90%;
}