*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.App {
  width: 100%;
  position: absolute;
}

.fully-removed {
  visibility: collapse !important;
  max-width: 0 !important;
  max-height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
}

.asterix-red-left {
  position: relative;
}
.asterix-red-left::before {
  content: "*";
  position: absolute;
  display: block;
  z-index: 11;
  left: -14px;
  color: rgb(228, 0, 0);
  font-size: 135%;
}

.automargin {
  margin: auto;
}

.alert-text-red {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-top: 0;
  margin-bottom: 0;
  color: rgb(228, 0, 0);
  font-size: 90%;
}

@-webkit-keyframes expandFromTop {
  from {
    max-height: 0;
  }
  to {
    max-height: 1000px;
  }
}

@keyframes expandFromTop {
  from {
    max-height: 0;
  }
  to {
    max-height: 1000px;
  }
}
@-webkit-keyframes shrinkFromBottom {
  from {
    max-height: 1000px;
  }
  to {
    max-height: 0;
  }
}
@keyframes shrinkFromBottom {
  from {
    max-height: 1000px;
  }
  to {
    max-height: 0;
  }
}
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: center;
}

.navbar-screen {
  padding-left: 10px;
  position: relative;
  height: 100%;
  width: 100%;
  background-color: rgb(100, 50, 50);
  max-width: 800px;
  z-index: 3;
  display: flex;
  align-items: center;
}

.navbar-expandmenu-box {
  position: absolute;
  right: 7px;
  top: 7px;
  bottom: 7px;
  display: flex;
}
.navbar-expandmenu-box button {
  position: relative;
  width: 51px;
  height: 51px;
  background-color: transparent;
}
.navbar-expandmenu-box button::before {
  content: "";
  position: absolute;
  z-index: 4;
  top: 3px;
  left: 3px;
  bottom: 3px;
  right: 3px;
  background-image: url(./assets/hamburger.png);
  background-position: center;
  background-size: cover;
}

.navbar-profilebox {
  display: flex;
  align-items: center;
}

.logo-embed-default-nav {
  position: absolute;
  left: 50%;
  translate: -50% 0;
}

.navbar-dropdown-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
}

.dropdownmenu-frame {
  position: relative;
  height: calc(100vh - 65px);
}

.dropdownmenu-screen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(160, 123, 123);
  border-bottom: 7px solid rgb(112, 62, 62);
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  overflow: hidden;
}
.dropdownmenu-screen ul {
  padding: 0;
  visibility: inherit;
  overflow: hidden;
}
.dropdownmenu-screen li {
  text-decoration: none;
  list-style-type: none;
  text-align: center;
  font-size: 122%;
  font-weight: 501;
  border-bottom: 1px solid rgb(112, 62, 62);
  padding: 0.5rem;
  cursor: pointer;
}
.dropdownmenu-screen li:hover {
  text-decoration: underline;
}

.screenquemode-frame {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
}

.screenquemode-content {
  background-color: rgb(160, 123, 123);
  border-top: 7px solid rgb(112, 62, 62);
  border-bottom: 7px solid rgb(112, 62, 62);
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.screenquemode-content button {
  border-radius: 7px;
  background-color: rgb(100, 50, 50);
  color: rgb(160, 123, 123);
  font-size: 123%;
  font-weight: 600;
  margin-top: 1rem;
  padding: 0.75rem 2rem;
}

.profile-img-40 {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-position: center;
  background-size: contain;
}

.rotate-neg135 {
  rotate: -135px;
}

@media screen and (max-width: 350px) {
  .logo-embed-default-nav {
    left: 8px;
    translate: none;
  }
}/*# sourceMappingURL=style.css.map */