
$mild-brown: rgb(112, 62, 62);
$mild-mild-brown: rgb(128, 70, 70);
$light-brown: rgb(160, 123, 123);
$dark-brown: rgb(100, 50, 50);
$white-brown: rgb(175, 105, 105);
$brownish-white: rgb(218, 183, 183);
$light-light-brown: rgb(178, 136, 136);

$mild-red: rgb(228, 0, 0);
$mild-bleak-red: rgb(200, 30, 30);
$bleak-red: rgb(180, 50, 50);


@mixin flexify(){
    display: flex;
    justify-content: center;
}
@mixin flexDirectionAlign {
    display: flex;
    align-items: center;
    flex-direction: column;
}
@mixin topBottomBorderThick {
    border-top: 7px solid $mild-brown;
    border-bottom: 7px solid $mild-brown;
}
@mixin flaign {
    display: flex;
    align-items: center;
}

