
$mild-brown: rgb(112, 62, 62);
$light-brown: rgb(160, 123, 123);
$dark-brown: rgb(100, 50, 50);
$white-brown: rgb(175, 105, 105);

$mild-red: rgb(228, 0, 0);


@mixin flexify(){
    display: flex;
    justify-content: center;
}
@mixin flexDirectionAlign {
    display: flex;
    align-items: center;
    flex-direction: column;
}


