.mainmenu {
  min-height: 100svh;
  position: relative;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../assets/chessboard_background.png);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.mainmenu main {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
}

.mainmenu-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.gamesearchpanel-frame {
  width: 100%;
  min-width: 50%;
  display: flex;
  justify-content: center;
}

.gamesearchpanel-screen {
  border-top: 7px solid rgb(112, 62, 62);
  border-bottom: 7px solid rgb(112, 62, 62);
  background-color: rgb(160, 123, 123);
  width: 98%;
  height: 100%;
  padding-bottom: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.gamesearchpanel-content {
  width: 100%;
  display: flex;
  justify-content: center;
}

.gamesearchpanel-button-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.extrapanel-frame {
  width: 100%;
  min-width: 25%;
  display: flex;
  justify-content: center;
}

.extrapanel-screen {
  border-top: 7px solid rgb(112, 62, 62);
  border-bottom: 7px solid rgb(112, 62, 62);
  background-color: rgb(160, 123, 123);
  width: 98%;
  position: relative;
  text-align: center;
}

.statistics-panel ul {
  margin: 0;
  padding-left: 0.25rem;
}
.statistics-panel li {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0.125rem 1rem;
  text-align: start;
}

.gameselection-container {
  padding: 0.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.gameselection-description {
  width: 100%;
  max-width: 350px;
  margin-top: 1px;
}

.floating-navbar-frame {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
}

.floating-navbar-screen {
  margin: 0.5rem 0;
  position: relative;
  background-color: rgb(112, 62, 62);
  width: 99.5%;
  height: 65px;
  border-top: 7px solid rgb(100, 50, 50);
}

.logo-embed {
  position: absolute;
  left: 50%;
  translate: -50%;
  top: -3rem;
}

.floating-navbar-profilebox {
  height: 100%;
  flex-grow: 0;
  margin-left: 0.75rem;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  display: flex;
  align-items: center;
}

.floating-navbar-buttons-frame {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.floating-navbar-buttons-container {
  height: 100%;
  display: flex;
  justify-content: center;
  gap: clamp(0.75rem, 20%, 2.75rem);
}

.floating-navbar-signout-box {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: calc(100% - 150px);
  display: flex;
  justify-content: center;
  align-items: center;
}

#settings-frame {
  border-top: 7px solid rgb(112, 62, 62);
  border-bottom: 7px solid rgb(112, 62, 62);
  height: 400px;
  width: 100%;
  margin: 0 3px;
  background-color: rgb(160, 123, 123);
}

#profile-frame {
  border-top: 7px solid rgb(112, 62, 62);
  border-bottom: 7px solid rgb(112, 62, 62);
  width: 100%;
  margin: 0 3px;
  background-color: rgb(160, 123, 123);
  display: flex;
  justify-content: center;
}

.profile-top-frame {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0.5rem 2rem;
  padding-top: 2.5rem;
  border-right: 1px dotted rgb(112, 62, 62);
}

.profile-top-image-container {
  position: relative;
  padding: 0 0.5rem;
}

.proflie-image-big {
  width: 145px;
  height: 145px;
  border-radius: 50%;
  margin: 0;
  background-color: black;
}

.profile-top-name-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  background-color: rgb(112, 62, 62);
  padding: 2px;
  border-radius: 3px;
}

.profile-bottom-frame {
  position: relative;
  width: 100%;
  display: flex;
}

.dotted-line {
  height: 100%;
  border-right: 1px dotted rgb(112, 62, 62);
}

.profile-bottom-stats {
  margin: 0.5rem;
}

.stats-panel-frame {
  background-color: rgb(112, 62, 62);
  border-radius: 3px;
  padding: 0.25rem;
  padding-top: 1.75rem;
}

.proflie-stats-top {
  position: relative;
}
.proflie-stats-top div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.125rem 4rem;
  background-color: rgb(178, 136, 136);
  border-radius: 3px;
}
.proflie-stats-top div .image-small-div {
  background-color: black;
  margin-right: 0.5rem;
  margin-top: 2.5px;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 0;
}
.proflie-stats-top div h3 {
  margin: 0;
  color: rgb(215, 180, 0);
}
.proflie-stats-top::before {
  content: "Your rank:";
  position: absolute;
  top: 2px;
  left: 8px;
  font-size: 88%;
  color: rgb(218, 183, 183);
}

.proflie-stats-bottom {
  margin-top: 0.5rem;
  position: relative;
  min-width: 320px;
}
.proflie-stats-bottom div {
  padding: 0.125rem 4rem;
  background-color: rgb(178, 136, 136);
  border-radius: 3px;
  height: 200px;
}
.proflie-stats-bottom::before {
  content: "Your game statistics: ";
  position: absolute;
  top: 2px;
  left: 8px;
  font-size: 88%;
  color: rgb(218, 183, 183);
}

.profile-bottom-settings {
  margin: 0.5rem;
  width: 100%;
}

.profile-change-name-box {
  margin-top: 0.5rem;
}
.profile-change-name-box label {
  margin-top: 0;
}
.profile-change-name-box input {
  padding: 0.75rem 0.5rem;
  border-radius: 2px;
  width: calc(100% - 5rem);
  outline: none;
  background-color: rgb(128, 70, 70);
  color: rgb(218, 183, 183);
}
.profile-change-name-box input::-moz-placeholder {
  color: rgb(218, 183, 183);
}
.profile-change-name-box input:-ms-input-placeholder {
  color: rgb(218, 183, 183);
}
.profile-change-name-box input::placeholder {
  color: rgb(218, 183, 183);
}

#page-exit-options-container {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  gap: 0.25rem;
}

#news-frame {
  border-top: 7px solid rgb(112, 62, 62);
  border-bottom: 7px solid rgb(112, 62, 62);
  height: 400px;
  width: 100%;
  margin: 0 3px;
  background-color: rgb(160, 123, 123);
}

#social-frame {
  border-top: 7px solid rgb(112, 62, 62);
  border-bottom: 7px solid rgb(112, 62, 62);
  height: 400px;
  width: 100%;
  margin: 0 3px;
  background-color: rgb(160, 123, 123);
}

@media screen and (max-width: 1050px) {
  .floating-navbar-buttons-container {
    gap: clamp(0.75rem, 20%, 1.25rem);
  }
  .navbar-button p {
    font-size: 100%;
  }
}
@media screen and (max-width: 800px) {
  .mainmenu main {
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-top: calc(60px + 0.5rem);
  }
  .gamesearchpanel-content {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .extrapanel-frame {
    margin-top: 0.5rem;
  }
  .floating-navbar-frame {
    visibility: collapse;
    max-height: 0;
    max-width: 0;
  }
  .floating-navbar-frame * {
    max-height: 0;
    max-width: 0;
  }
  .mainmenu {
    justify-content: start;
  }
  #profile-frame {
    margin: 0;
    flex-direction: column;
    justify-content: flex-start;
  }
  .profile-top-frame {
    margin-left: 0;
    flex-direction: row;
    justify-content: start;
    align-items: end;
    border-right: none;
    border-bottom: 1px dotted rgb(112, 62, 62);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .profile-top-name-container {
    margin: 0;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-bottom: 1.5rem;
    margin-left: 1rem;
  }
  .profile-bottom-stats {
    width: 100%;
  }
  .proflie-stats-bottom {
    min-width: 0;
  }
}
@media screen and (max-width: 500px) {
  .profile-top-frame {
    padding-top: 1rem;
    padding-left: 0.25rem;
  }
}
@media screen and (max-width: 380px) {
  .profile-top-frame {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
  }
  .profile-top-name-container {
    margin: 0;
    margin-top: 0.5rem;
  }
}/*# sourceMappingURL=style.css.map */