@import '../../variables.scss';



.mainmenu {
    min-height: 100svh;
    position: relative;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: 
    url(../../assets/chessboard_background.png);
    @include flexDirectionAlign;
    justify-content: center;
}
.mainmenu main {
    width: 100%;
    max-width: 1200px;
    @include flexify;
}
.mainmenu-container {
    width:100%;
    @include flexDirectionAlign;
}

.gamesearchpanel-frame {
    width: 100%;
    min-width: 50%;
    @include flexify;
}
.gamesearchpanel-screen {
    @include topBottomBorderThick;
    background-color: $light-brown;
    width: 98%;
    height: 100%;
    padding-bottom: 1rem;
    position: relative;
    @include flexDirectionAlign;
}
.gamesearchpanel-content {
    width: 100%;
    @include flexify;
}
.gamesearchpanel-button-container {
    width: 100%;
    @include flexDirectionAlign;
}


.extrapanel-frame {
    width: 100%;
    min-width: 25%;
    @include flexify;
}
.extrapanel-screen {
    @include topBottomBorderThick;
    background-color: $light-brown;
    width: 98%;
    position: relative;
    text-align: center;
}

.statistics-panel {
    ul {
        margin: 0;
        padding-left: 0.25rem;
    }
    li {
        text-decoration: none;
        list-style: none;
        margin: 0;
        padding: 0.125rem 1rem;
        text-align: start;
    }
}


//GAMESLECTION COMPONENT
.gameselection-container {
    padding: 0.5rem;
    width:100%;
    @include flexDirectionAlign;
}
.gameselection-description {
    width: 100%;
    max-width: 350px;
    margin-top: 1px;
}



//NAVBAR
.floating-navbar-frame {
    width: 100%;
    max-width: 1200px;
    @include flexify;
}

.floating-navbar-screen {
    margin: 0.5rem 0;
    position: relative;
    background-color: $mild-brown;
    width: 99.5%;
    height: 65px;
    border-top: 7px solid $dark-brown;
}
.logo-embed {
    position: absolute;
    left: 50%;
    translate: -50%;
    top: -3rem;
}

.floating-navbar-profilebox {
    height: 100%;
    flex-grow: 0;
    margin-left: 0.75rem;
    width: min-content;
    @include flaign;
}

.floating-navbar-buttons-frame {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;bottom: 0;left: 0;right: 0;
    @include flexify;
}

.floating-navbar-buttons-container {
    height: 100%;
    @include flexify;
    gap: clamp(0.75rem, 20%, 2.75rem);
}

.floating-navbar-signout-box {
    position: absolute;
    top: 0;bottom: 0;right: 0;
    left: calc(100% - 150px);
    @include flexify;
    align-items: center;
}

//Settings
#settings-frame {
    @include topBottomBorderThick;
    height: 400px;
    width: 100%;
    margin: 0 3px;
    background-color: $light-brown;
}

//profile
#profile-frame {
    @include topBottomBorderThick;
    width: 100%;
    margin: 0 3px;
    background-color: $light-brown;
    @include flexify;

}

.profile-top-frame {
    @include flexDirectionAlign;
    padding: 0.5rem;

}

.profile-top-image-container {
    position: relative;
    padding: 0.5rem;
    width: 160px;
    height: 160px;
}

.proflie-image-big {
    width: 145px;
    height: 145px;
    border-radius: 50%;
    margin: 0;
    background-color: black;
}

.edit-label-small {
    
}

.profile-top-name-container {
    width: 100%;
}

.profile-bottom-frame {
    height: 300px;
    position: relative;
    width: 100%;
}

#page-exit-options-container {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    gap: 0.25rem;
}

//news
#news-frame {
    @include topBottomBorderThick;
    height: 400px;
    width: 100%;
    margin: 0 3px;
    background-color: $light-brown;
}

//social
#social-frame {
    @include topBottomBorderThick;
    height: 400px;
    width: 100%;
    margin: 0 3px;
    background-color: $light-brown;
}

@media screen and (max-width: 1050px){
    .floating-navbar-buttons-container {
        gap: clamp(0.75rem, 20%, 1.25rem);
    }
    .navbar-button p {
        font-size: 100%;
    }
}

@media screen and (max-width: 800px) {
    .mainmenu main {
        flex-direction: column;
        align-items: center;
        justify-content: start;
        margin-top: calc(60px + 0.5rem);
    }
    .gamesearchpanel-content {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .extrapanel-frame {
        margin-top: 0.5rem;
    }
    .floating-navbar-frame {
        visibility: collapse;
        max-height: 0;
        max-width: 0;
        * {
            max-height: 0;
            max-width: 0;
        }
    }
    .mainmenu {
        justify-content:start;
    }
    #profile-frame {
        margin: 0;
        flex-direction: column;
    }
}