.landingpage {
    width: 100vw;
    height: 100vh;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../assets/chessboard_background.png);
}